Packages needed to run all scripts
Wave
Numpy
Matplotlib
Scipy
Serial
Pandas
Os
scipy.signal

selenium
chromedriver
download the correct chrome driver from
https://chromedriver.chromium.org/downloads
and replace the chromedriver file located in /Chrome folder


the script was originally running on M1 MacBooks
